@model Demo.Movies.ViewModels.ActorsIndexViewModel

@{
    Layout.Title = T("Actors");

}

<div class="manage">
    @Html.ActionLink(T("Add Actor").Text, "Create", "ActorsAdmin", new { area = "Demo.Movies" }, new { @class = "button primaryAction" })
</div>
<table class="items">
    <thead>
        <tr>
            <th>@T("Name")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var actor in Model.Actors)
        {
            <tr>
                <td>@actor.Name</td>
                <td>
                    @Html.ActionLink(T("Edit").Text, "Edit", "ActorsAdmin", new { area = "Demo.Movies", actorId = actor.Id }, null) |
                    @Html.ActionLink(T("Delete").Text, "Delete", "ActorsAdmin", new { area = "Demo.Movies", actorId = actor.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@Display(Model.Pager)
