@using Demo.Movies.ViewModels
@using Demo.Movies.Models
@model MovieEditViewModel

@{
    var ratingSelectListItems = Enum.GetNames(typeof(MPAARating))
        .Select(r => new SelectListItem { Text = r, Value = r, Selected = r == Model.Rating.ToString() });
}

<fieldset>
    <legend>@T("Details")</legend>
    @Html.LabelFor(m => m.IMDB_Id, T("IMDB_Id"))
    @Html.TextBoxFor(m => m.IMDB_Id)
    @Html.LabelFor(m => m.YearReleased, T("Year Released"))
    @Html.TextBoxFor(m => m.YearReleased)
    @Html.LabelFor(m => m.Rating, T("MPAA Rating"))
    @Html.TextBoxFor(m => m.Rating)
    @Html.DropDownListFor(m => m.Rating, ratingSelectListItems)
</fieldset>
<fieldset>
    <legend>@T("Actors")</legend>
    @Html.DropDownList("AllActors", new SelectList(Model.AllActors, "Id", "Name"), "")
    <input type="button" id="AddActor" value="Add"/>
    <ul id="actorList">
        @foreach (var actorId in Model.Actors)
        {
            <li data-actorId="@actorId"><a href="" class="delete">X</a>Test</li>
        }

        @foreach (var actorId in Model.Actors)
        {
            <text>@Html.Hidden("Actors", actorId)</text>
        }
    </ul>
</fieldset>

@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {
            $("#AddActor").click(function () {
                var selectedActor = $("#Movie_AllActors option:selected");
                if(selectedActor.val() != ""){
                    $("#actorList").append("<li data-actorId='" + selectedActor.val() + "'>" +"<a href='#' class='delete'> X </a>" + selectedActor.text() + "</li>")
                    $("<input>").attr({
                        type: "hidden",
                        id: "Movie_Actors",
                        name: "Movie.Actors",
                        value: selectedActor.val()
                    }).appendTo("form");
                }
            });

            $(".delete").click(function () {
                alert("got it");
            });

            $(document).on("click","#actorList .delete", function () {
                var $actorListItem = $(this).parent("li");
                var actorIdToDelete = $actorListItem.data("actorId");
                $("#Movie_Actors[value='" + actorIdToDelete + "']").remove();
                $actorListItem.remove();
                return false;
            });
        })
    </script>
}